.footer{
    /* background: linear-gradient(180deg,$segundo,$tercero); */
    height: 20vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
    ul{
        position: absolute;
        display: flex;
        transform-style:preserve-3d;
        transform: rotate(-0deg) skew(25deg);
        
        li{
            position: relative;
            width: 60px;
            height: 60px;
            margin: 0 10px;
            span{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex  !important;
                justify-content: center;
                align-items: center;
                background-color: #3333;
                color: rgba(255, 255, 255,0.2);
                font-size: 30px !important;
            }
            &:hover span{
                z-index: 1000;
                transition: 0.5s;
                color: #fff;;
                box-shadow: -1px 1px 1px rgba(0, 0, 0,0.05);

            }
            &:hover span:nth-child(4){
                transform: translate(30px,-30px);
                opacity: 1;
            }
            &:hover span:nth-child(3){
                transform: translate(20px,-20px);
                opacity: 1;
            }
            &:hover span:nth-child(2){
                transform: translate(10px,-10px);
                opacity: 1;
            }
            &:hover span:nth-child(1){
                transform: translate(0px,0px);
                opacity: 1;
            }
        }
    }
    div{
        margin-top: 50px;
        margin-right: 30px;
        display: flex;
        align-self: center;
        a,.boton__link{
            position: relative;
            background-color: #fff;
            color:white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5em;
            letter-spacing: 0.1em;
            font-weight: 400;
            padding: 10 30px;
            transition: 0.5s;
            &:hover,.boton__link:hover{
                letter-spacing: 0.25em;
                background: var(--clr);
                box-shadow: 0 0 35px var(--clr);
                color: var(--clr);
            }
            &:before,.boton__link::before{
                content: "";
                position: absolute;
                inset: 2px;
                /* background-color: $segundo; */
            }
            span,.boton__titulo{
                font-family: 'Roboto', sans-serif;
                font-weight: 800;
                position: relative;
                z-index: 1;
                padding: 0 30px;
                letter-spacing: 1rem;
            }
        }
    }
}