.container-grid{
    display: grid;
    grid-area: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
    height: 100vh;
}

.header{
    display: grid;
    grid-template-areas: header;
    grid-template-columns: repeat(3,1fr);
}

.main{
    display: grid;
    grid-template-areas: main;
    grid-template-rows: repeat(2,1fr);
}
.main__imagen{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
}

.footer{
    display: grid;
    grid-template-areas: footer;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}