.header{
    background:linear-gradient(180deg, $primero,$segundo) ;
    .header__logotipo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo{
            background-image: url(../../images/vaguito.png);
            background-size: cover;
            height: 100px;
            width: 100px;
            margin:10px 0 0 10px ;
            position: relative;
            animation-name:icono;
            animation-duration:1.3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            &::before{
                content: "";
                position: absolute;
                border-radius: 50%;
                height: 100px;
                border: 2px groove wheat;
                width: 100px;
                background-color: transparent;
            }
           }
        .sombra{
         margin:10px 0 0 10px ;
         background-color: gray;
         opacity: 0.1;
         border-radius: 50%;
         height: 30px;
         width: 100px;
         display: block;
         animation-name: sombra;
         animation-duration: 1.3s;
         animation-iteration-count: infinite;
         animation-direction: alternate;
       }
    }
    .nombre{
        display: flex;
        /* justify-content: center;
        align-items: center; */
         & div:nth-child(1n){
            text-transform: uppercase;
            font-family: verdana;
            font-size: 10em;
            font-weight: 700;
            color: white;
            text-shadow: 1px 1px 1px #919191,
                1px 2px 1px #919191,
                1px 3px 1px #919191,
                1px 4px 1px #919191,
                1px 5px 1px #919191,
                1px 6px 1px #919191,
                1px 7px 1px #919191,
                1px 8px 1px #919191,
                1px 9px 1px #919191,
                1px 10px 1px #919191,
                1px 18px 6px rgba(16,16,16,0.4),
                1px 22px 10px rgba(16,16,16,0.2),
                1px 25px 35px rgba(16,16,16,0.2),
                1px 30px 60px rgba(16,16,16,0.4);

         }
    }
    .icono{
        
    }
}