.header{
    background: linear-gradient(180deg,$cuarto ,$segundo);
    height: 100vh;
    .header__logotipo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo{
            background-image: url(../../images/vaguito.png);
            background-size: cover;
            height: 100px;
            width: 100px;
            margin:10px 0 0 10px ;
            position: relative;
            animation-name:icono;
            animation-duration:2.6s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            &::before{
                content: "";
                position: absolute;
                border-radius: 50%;
                height: 100px;
                border: 2px groove $headerletr;
                width: 100px;
                background-color: transparent;
            }
           }
        .sombra{
         margin:10px 0 0 10px ;
         background-color: gray;
         opacity: 0.1;
         border-radius: 50%;
         height: 30px;
         width: 100px;
         display: block;
         animation-name: sombra;
         animation-duration: 1.3s;
         animation-iteration-count: infinite;
         animation-direction: alternate;
       }
    }
    .nombre{
        display: flex;
        align-self: center;
        position: relative;
        font-size: 10rem;
        color:$cuarto;
        -webkit-text-stroke: 0.3vw $segundo;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        &::before{
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            /* height:100%; */
            color: $headerletr;
            -webkit-text-stroke: 0vw $segundo;
            border-right: 2px solid;
            overflow: hidden;
            animation: h2 6s linear infinite alternate;
        }
    }
    .orbit-spinner, .orbit-spinner * {
        box-sizing: border-box;
      }
  
      .orbit-spinner {
        align-self: center;
        justify-self: center;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        perspective: 800px;
      }
  
      .orbit-spinner .orbit {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
  
      .orbit-spinner .orbit:nth-child(1) {
        left: 0%;
        top: 0%;
        animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
        border-bottom: 3px solid $headerletr;
      }
  
      .orbit-spinner .orbit:nth-child(2) {
        right: 0%;
        top: 0%;
        animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
        border-right: 3px solid $headerletr;
      }
  
      .orbit-spinner .orbit:nth-child(3) {
        right: 0%;
        bottom: 0%;
        animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
        border-top: 3px solid $headerletr;
      }
}