/* ----------------NAVEGACION--PRINCIPAL--INDEX--------------- */
.section{
    text-align: center;
    background-color: $terciario;
    height: 80vh;
    
    &__titulo{
        text-transform: uppercase;
        font-size: 0.5em;
        display: flex;
        align-content: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        letter-spacing: 1em;
        .section__titulo-h1{
            line-height: 1.7em;
            font-weight: 900;
        }

        
    }

    &__img{
        background: url(../../images/photostudio-2-designify.png);
        background-size: contain;
        border-radius: 50%;
        height: 9.375rem;
        width: 9.375rem;
        margin-top: 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 2px outset white;
            box-shadow: black 1px;
            
            
        }
        
    }
    &__form{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .section__form-button{
            padding: 10px;
            width: 10rem;
            background-color: white;
            border: solid $cuarto 1px;
            letter-spacing: 0.1em;
            
            
        }
    }
}
/*----------NAVEGACION---CONTACT---------- */
.main-contact{
    height: 80vh;
    align-items: center;
    justify-items: center;
    .main__section-titulo{
        background-color: $cuarto;
        border: 1px outset $primario;
        padding: 15px;
        border-radius: 10% / 50%;
        .section-titulo--contactame{
            font-size: 2rem;
            color: $terciario;
            -webkit-text-stroke: 0.5px black;
            margin: 0;
        }
    }
    .main__form{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        margin: auto;
        justify-content: center;
        &--button{
            padding: 10px;
            display: flex;
            width: 100px;
            justify-content: center;
            background-color: white;
        }

    }
}