@keyframes icono {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
@keyframes sombra{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.1;
    }
}
@keyframes animated{
    0%{
        opacity: 1;
    }
    16%{
        opacity: 1;
    }
    33%{
        opacity: 0;
    }
    83%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
