.container-form{
    /* background: linear-gradient(180deg,$cuarto ,$segundo); */
    height: 100vh;
    display: grid;
    section{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3,1fr);
        form{
            grid-column: 2/3;
            grid-row:2/3;
        }
        a,.boton__link{
            position: relative;
            background-color: #fff;
            color:white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5em;
            letter-spacing: 0.1em;
            font-weight: 400;
            padding: 10 30px;
            transition: 0.5s;
            &:hover,.boton__link:hover{
                letter-spacing: 0.25em;
                background: var(--clr);
                box-shadow: 0 0 35px var(--clr);
                color: var(--clr);
            }
            &:before,.boton__link::before{
                content: "";
                position: absolute;
                inset: 2px;
                /* background-color: $segundo; */
            }
            span,.boton__titulo{
                font-family: 'Roboto', sans-serif;
                font-weight: 800;
                position: relative;
                z-index: 1;
                padding: 0 30px;
                letter-spacing: 1rem;
            }
        }
    }
}
.section__boton{
    display: grid;
    align-self: center;
    justify-self: center;
}